@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}



header{
    background-color: rgb(15, 15, 15);
    color: rgb(209, 209, 209);
    height: 8vw;
    font-size: 2vw;
    padding: 3%;
}

header > h1{
    margin: 1%;
}

main{
    background-color: gray;
    height: 100vh;
}

.conteudo{ 
    height: 100vh;
    width: 98.7vw;
    overflow: hidden;
}

.main::-webkit-scrollbar {
    display: none;
}

.navigation{
    position: absolute;
    bottom: -151px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}

.bar{
    width: 70px;
    height: 17px;
    border: 2px solid white;
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s;
}


.slides{
    display: flex;
    width: 500%;
    height: 100%;
}

.slide{
    width: 20%;
    transition: .6s;
}

.slide img{
    width: 100%;
    max-height: 100%;
    min-height: 300px;
}

#slide1:checked ~ .s1{
    margin-left: 0;
}

#slide2:checked ~ .s1{
    margin-left: -20%;
}

#slide3:checked ~ .s1{
    margin-left: -40%;
}

.bar:hover{
    background-color: white;
}

input{
    display: none;
}

footer{
    background-color: lightgray;
    height: 6vw;
}