@charset "UTF-8";

body{
    background-color: rgba(41, 190, 41, 0.616);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.45cm;
}

h1{
    text-align: center;
    color: rgba(17, 170, 63, 0.795);
    background-color: rgba(86, 214, 86, 0.644);
    font-size: 1cm;
}

h2{
    text-align: center;
    color: rgba(17, 170, 63, 0.795);
    background-color: rgba(86, 214, 86, 0.644);   
}

p{
    font-weight: bold;
    text-align: center;
}